*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html, body{
    height: auto;
}
body{
    background-color:#2b4813;
}
/*--Navigation Bar--*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 15px 30px 15px;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.5);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left:  -100%;
    width: 100%;
    height: 100%;
}
.logo{   
    width: 160px;
    height: 80px;
    cursor: pointer;
}
.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;  
    font-size: 20px;
    margin-left: 60px;
}
.navbar a:hover{
    color: #9bd127;
}  
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 1%;
    font-size: 2.8rem;
    color: #ffff;
    cursor: pointer;
    display: none;
}
@media (max-width: 1160px){
    .header{
        padding: 5px 15px 5px 15px;
    }
    .navbar a{
        font-size: 16px;
    }
}
@media (max-width: 1000px){
    .logo{
        width:110px;
        height: 60px;
        margin-right: auto;
    }
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background:rgba(0,0, 0, .3);
        backdrop-filter: blur(50px);
        box-shadow:0 .5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: auto;
    }
    .navbar a{
        display: block;
        font-size: 16px;
        padding: 0%;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0px);
        transition-delay: calc(.15s * var(--i)) ;
    }
}
/*Banner*/
.bg-image{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background: url(wilpattu\ banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.bg-image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.bg-content{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 40px auto;
}
.bg-content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 300;
}
@media (max-width: 1000px){
    .bg-content{
        width: 100%;
    }
    .bg-content h1{
        font-size: 33px;
    }
}
/*Banner*/
.bg-image{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background: url(Udawalawe\ banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.bg-image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.bg-content{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.bg-content-sub h1{
    font-size: 80px;
    color: #fff;
    margin-bottom:10px;
    font-weight: 300;
    margin-top: 10%;
}
@media (max-width: 1000px){
    .bg-content{
        width: 100%;
    }
    .bg-content-sub h1{
        font-size: 35px;
        margin: 15px;
    }
}
/*----body----*/
main{
    margin: 80px 60px 60px 60px;
}
.main-container{
    margin: 40px 10px 80px 10px;
    background-color:#ce9851;
    border-radius: 60px;
}
.main-title{
    padding: 50px;
    font-size: 28px;
    font-weight: 600; 
    text-align: center; 
}
.content{
    padding-bottom: 20px;
    animation: fadeInUp 2s ease;
    margin: 0 80px 0 80px;
}
.text {
    text-align: justify;
    font-size: 20px; 
}
.text ul {
    padding-left: 30px;
    line-height:40px;
}
.detail{
    display: flex;
    font-size: 20px;
    animation: fadeInUp 2s ease;
    margin: 30px;
    text-align: center;
    gap: 80px;
}
.map{
    width: 600px;
    height: auto;
}
.img{
    width: 400px;
    height: auto;
}
/*----body animation----*/
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    1000%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/*----Body responsive----*/
@media  screen and (max-width:1200px){
    main{   
        margin: 60px 20px 60px 20px;
    }
    .main-title{
        font-size: 20px;
        padding: 40px 5px 10px 5px;
    }
    .content{
        margin: 10px 10px 10px 10px;
    }
    .text p{
        font-size: 18px;
        text-align: center;
    }
    .text ul{
        font-size: 18px;
        text-align: left;
        line-height:35px;
    }
    .detail{
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        margin: 10px;
        padding: 20px 0 20px 0;
    }
    .img{
        height: auto;
        width: auto;
    }
    .map{
        width: auto;
        height: 250px;
    }
}

/*----Table----*/
.table-container{
    background-color:#ce9851;
    border-radius: 60px;
    padding: 0px 70px 50px 70px;
}
table{
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}
table,tr,th,td{
    border: 3px solid #0f0f0f;
    text-align: center;
}
th{
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
}
.name{
    text-align: center;
    font-size: 20px; 
    font-weight: 600;
    padding: 0px 60px 0px 60px;
}
.fact{
    text-align: left;
    font-size: 20px; 
    padding: 30px;
}
.fact ul{
    padding-left: 30px;
}
.t-footer{
    padding: 10px 0 10px 0;
    font-size: 16px;
}
.data-image{
    padding: 20px 20px 20px 20px;
    width: auto;
    height: auto;
    object-fit:cover;
}
.data-image img{
    height: auto;
}
/*---table responsive---*/
@media  screen and (max-width:925px){
    table,tr,th,td{
        border: 1px solid #0f0f0f;
    }
    .table-container{
        padding: 0px 10px 60px 10px;
    }
    table thead tr{
        display: none;
    }
    table tr{
        display: block;
    }
    table th, table td{
        padding: 0px;
        font-size: 18px;
    }
    .name{
        padding: 10px 20px 10px 20px;
        font-size: 18px;
    }
    .fact{
        text-align: center;
        font-size: 20px;
        padding: 0%;
        padding-left: 0px;
        margin: 20px;
    }
    .fact ul{
        padding: 0px;
        margin: 0;
        font-size: 18px;
        list-style-type: none;
    }
    table td{
        text-align: right;
        display: block;
        font-size: 18px;
        border-collapse: collapse;
    }
    .data-image{
        text-align: center;
        padding: 5px 5px 5px 5px;
    }
    .t-footer{
        text-align: center;
        padding: 10px 10px 10px 10px;
        font-size: 15px;
    }
}
/*-----Footer-----*/
#footer{
    margin-top: auto;
    align-content: center;
    position: relative;
    clear: both;
    padding-bottom: 0%;
}
.footer-container{
    width: 100%;
    padding-top: 20px;
    background-color: #0f0f0f;
}
/*-----icons-----*/
.social-icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 0 30px 0;
}
.social-icons a{
    color: #fff;
    transition: color 0.2s;
    margin: 0 25px;
}
/*-----nav-----*/
.footer-nav {
    display: flex;
    justify-content: center;
}  
.footer-nav a{
    color: white;
    margin: 0 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    opacity: 1.7;
    transition: 0.5s;
    padding-bottom:10px;
}  
.footer-nav a:hover{
    color: #9bd127;
} 
/*-----copyright-----*/
.footer-bottom{
    background-color: #0f0f0f;
    padding-top: 15px;
    padding-bottom: 10px;
}
.footer-bottom p{
    text-align: center;
    font-weight: bolder;
    color: #ffffff69;
    font-size: 13px;
}
.designer{
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
@media  screen and (max-width:650px){
    #footer{
        height:230px;
    }
    .social-icons{
        gap: 15px;
    }
    .footer-nav{
        flex-direction: column;
        text-align: center;
        line-height: 15px;
    }
    .footer-nav a{
        font-size: 13px;
    }
    .footer-bottom p{
        font-size: 10px;
    }
}